body{
  padding:0;
  margin:0;
}
#settingsbutton{
  position:fixed;
  left:5px;
  bottom:5px;
}
.fa-icon{
  width:25px;
  height:25px;
}

#settingspanel{
  position:fixed;
  width:100%;
  height:100%;
}
#settingspanel-inner{
  border-radius:5px;
  background-color:#51576d;
  opacity:0.9;
  position:fixed;
  width:75%;
  height:75%;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  padding: 1em;
}
#settingspanel p,input, button{
  color:#c6d0f5;
  font-family: "DejaVu Sans Mono", "Noto Sans Mono", "Everson Mono", FreeMono, Menlo, Terminal, FiraCode Nerd Font, monospace;
}
#settingspanel button{
  background-color:#232634;
  outline:none;
  border:none;
  border-radius:5px;
  font-size: 1em;
}
.header{
  font-size: 1.5em;
  text-align: center;
}
input{
  color:#c6d0f5;
  background-color:#232634;
  outline:none;
  border:none;
  font-size: 1em;
  border-radius: 2.5px;
}
